.footer {
  min-width: 1200px;
  background-color: var(--footer-bgc);
}

.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: baseline;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  margin-right: 0;
}
.footer__wraper {
  display: flex;
  flex-direction: column;
  margin-bottom: -20px;

  &:not(:last-child) {
    margin-right: 70px;
  }
}
.footer__invitation {
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__form {
  display: flex;
  align-items: center;
}

.footer__input {
  display: flex;
  width: 358px;
  height: 50px;
  padding: 0 16px;
  margin-right: 12px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--white);
  background-color: transparent;

  border: 1px solid var(--paragraph-color);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 4px;
  transition: border var(--cub);

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--paragraph-color);
  }
  &:hover,
  &:focus {
    outline: var(--white);
    border: 1px solid var(--white);
  }
}

.fotter__subscription {
  margin-left: 10px;
  fill: var(--white);
  background-image: url(/images/sprite.svg#send-btn);
  align-items: center;
  justify-content: center;
}
.fotter__btn {
  align-items: center;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--action-color);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  outline-style: none;
  border-width: 2px;
  display: flex;
}
