.button {
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--action-color);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  outline-style: none;
  border-width: 2px;
  transition: background-color 250ms var(--cub);
}

&:hover,
&:focus {
  background-color: var(--hero-btn-action-bgc);
}
